html, body {
  height: 100%;
  font-family: sans-serif;
}

main {
  height: 100%;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-section {
  height: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#middle-box > div, #bottom-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}